.form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .btn {
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
  }
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  
  th {
    background-color: #f2c1c1;
  }
  
  .table {
    margin-top: 20px;
  }
  .header {
    background-color: #cf0707;
    color: #fff;
    padding: 10px;
    
  }
 div lable {
   float: inline-end;
 }